@use '../abstracts/breakpoints' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/optionPositions' as *;

.chooseContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    @include dt {
        width: auto;
        align-self: flex-end;
    }

    &_original {
        font-size: clamp(0.55rem, -0.1889rem + 4.2222vw, 1.5rem);

        @include dt {
            font-size: 100%;
        }
    }

    &_bonus {
        font-size: clamp(0.45rem, 0.0222rem + 2.4444vw, 1rem);

        @include dt {
            font-size: .75rem;
        }
    }

    &_bg {
        width: 75%;

        @include dt {
            width: 100%;
        }
    }
}

// Y and X coordinates of options are stored in ../abstracts/optionsPositions.scss
// they are used in ../animations/_selectedOptionsSlide.scss to create slide animation.

.originalButton {
    position: absolute;
    width: 40%;

    @include dt {
        width: 62%;
    }

    &_rock {
        bottom: $rock-original-mobile-Y;
        left: 0;
        right: 0;
        margin-inline: auto;

        @include dt {
            top: $rock-original-desktop-Y;
        }
    }

    &_paper {
        top: $paper-original-mobile-Y;
        left: 0;

        @include dt {
            top: $paper-original-desktop-Y;
            left: -5rem;
        }
    }

    &_scissors {
        top: $scissors-original-mobile-Y;
        right: 0;

        @include dt {
            top: $scissors-original-desktop-Y;
            left: 12rem;
        }
    }

    &:hover {
        cursor: pointer;
    }
}

.bonusButton {
    position: absolute;
    width: 32%;

    @include dt {
        width: 42.75%;
    }

    &_rock {
        top: $rock-bonus-mobile-Y;
        right: 10%;

        @include dt {
            top: $rock-bonus-desktop-Y;
            left: 12.5rem;
        }
    }

    &_paper {
        top: $paper-bonus-mobile-Y;
        right: 0%;

        @include dt {
            top: $paper-bonus-desktop-Y;
            left: 16.5rem;
        }
    }

    &_scissors {
        top: $scissors-bonus-mobile-Y;
        left: 0;
        right: 0;
        margin-inline: auto;

        @include dt {
            top: $scissors-bonus-desktop-Y;
        }
    }

    &_spock {
        top: $spock-bonus-mobile-Y;
        left: 0%;

        @include dt {
            top: $spock-bonus-desktop-Y;
            left: -3.5rem;
        }
    }

    &_lizard {
        top: $lizard-bonus-mobile-Y;
        left: 10%;

        @include dt {
            top: $lizard-bonus-desktop-Y;
            left: .7rem;
        }
    }

    &:hover {
        cursor: pointer;
    }
}