@use '../abstracts/colors' as *;
@use '../abstracts/breakpoints' as *;

.choiceButton {
    border-radius: 50%;
    width: 71%;
    aspect-ratio: 1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: width .5s ease;

    &:hover {
        width: 73%;
    }

    &_rock {
        bottom: 0;
        left: 0;
        right: 0;
        margin-inline: auto;
        background-color: hsl(349, 71%, 52%);
        box-shadow: inset 0 -8px 0 hsl(349, 84%, 36%);
        transform: translateY(18%);
    }

    &_paper {
        transform: translateX(-50%) translateY(-50%);
        top: 0;
        left: 0;
        background-color: hsl(230, 89%, 62%);
        box-shadow: inset 0 -8px 0 hsl(230, 65%, 52%);
    }

    &_scissors {
        transform: translateX(50%) translateY(-50%);
        top: 0;
        right: 0;
        background-color: hsl(39, 89%, 49%);
        box-shadow: inset 0 -8px 0 hsl(34, 77%, 45%);
    }

    div {
        width: 74.25%;
        display: flex;
        box-shadow: inset 0 8px 0 rgb(216, 216, 216);
        align-items: center;
        justify-content: center;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: white;

        img {
            width: 45%;
        }
    }

    &:hover {
        cursor: pointer;
    }
}