@use '../abstracts/breakpoints' as *;
@use '../abstracts/colors' as *;

.chooseContainer {
    position: relative;
    display: grid;
    place-content: center;

    &_bg {
        width: 40vw;

        @include dt {
            width: 100%;
        }
    }

    // Appear
    &_load-appear {
        opacity: 0;
    }

    &_load-appear-active {
        opacity: 1;
        transition: opacity 1000ms;
    }

    &_load-appear-done {
        opacity: 1;
    }

    // exit
    &_load-exit {
        opacity: 0;
    }

    &_load-exit-active {
        opacity: 1;
        transition: opacity 1000ms;
    }

    &_load-exit-done {
        opacity: 1;
    }
}

.bonusButton {
    position: absolute;
    width: 70%;

    @include dt {
        width: 45%;
    }

    &_rock {
        bottom: 0;
        right: 0;
        transform: translateY(50%) translateX(20%);
    }

    &_lizard {
        bottom: 0;
        left: 0;
        transform: translateY(50%) translateX(-20%);
    }

    &_scissors {
        top: 0;
        right: 0;
        left: 0;
        margin-inline: auto;
        transform: translateY(-50%);
    }

    &_paper {
        right: 0;
        top: 0;
        transform: translateY(30%) translateX(60%);
    }

    &_spock {
        top: 0;
        transform: translateY(30%) translateX(-60%);
    }

    &:hover {
        cursor: pointer;
    }
}

.originalButton {
    position: absolute;
    width: 50%;

    @include dt {
        width: 62%;
    }

    &_rock {
        // transform: translateY(25%);
        bottom: 0;
        left: 0;
        right: 0;
        margin-inline: auto;
    }

    &_paper {
        top: 0;
        left: 0;
    }

    &_scissors {
        top: 0;
        right: 0;
    }

    &:hover {
        cursor: pointer;
    }
}