@use '../abstracts/breakpoints' as *;


.gameContainer {
    position: relative;
    max-width: 44rem;
    width: 50%;
    margin-block-start: 10.5rem;

    @include dt {
        width: 50vw;
        max-width: 18rem;
        margin-block-start: 10.25rem;
    }

    &_tri {
        width: 100%;
        aspect-ratio: 1;
    }
}