// Mobile Positions
$rock-original-mobile-Y: -20%;
$paper-original-mobile-Y: -20%;
$scissors-original-mobile-Y: -20%;

$rock-bonus-mobile-Y: 80%;
$paper-bonus-mobile-Y: 20%;
$scissors-bonus-mobile-Y: -20%;
$spock-bonus-mobile-Y: 20%;
$lizard-bonus-mobile-Y: 80%;

// Desktop Positions
$rock-original-desktop-Y: 9.25rem;
$paper-original-desktop-Y: -30%;
$scissors-original-desktop-Y: -30%;

$rock-bonus-desktop-Y: 75%;
$paper-bonus-desktop-Y: 15%;
$scissors-bonus-desktop-Y: -20%;
$spock-bonus-desktop-Y: 15%;
$lizard-bonus-desktop-Y: 75%;