// Mobile Positions
$rock-original-mobile: 6rem;
$paper-original-mobile: -3rem;
$scissors-original-mobile: -3rem;

$rock-bonus-mobile: 11.25rem;
$paper-bonus-mobile: 3rem;
$scissors-bonus-mobile: -3rem;
$spock-bonus-mobile: 3rem;
$lizard-bonus-mobile: 11.25rem;

// Desktop Positions
$rock-original-desktop: 9.25rem;
$paper-original-desktop: -5rem;
$scissors-original-desktop: -5rem;

$rock-bonus-desktop: 14.5rem;
$paper-bonus-desktop: 2.75rem;
$scissors-bonus-desktop: -5.1rem;
$spock-bonus-desktop: 2.75;
$lizard-bonus-desktop: 14.5rem;