.animateFade-enter {
    opacity: 1;
}

.animateFade-enter-active {
    opacity: 0;
    transition: opacity 300ms;
}

.animateFade-enter-done {
    opacity: 0;
}

.revealContainerFade-appear {
    opacity: 0;
}

.revealContainerFade-appear-active {
    opacity: 1;
    transition: opacity 500ms;
}

.revealContainerFade-appear-done {
    opacity: 1;
}