.animateHeader-enter-done {
    transform: translateY(0%);
}

.animateHeader-exit {
    opacity: 1;
}

.animateHeader-exit-done {
    opacity: 0;
}

.animateHeader-enter-done {
    transform: translateY(0%);
}

.animateHeader-exit-active {
    opacity: 0;
    transition: opacity 400ms,
}

.animateHeader-enter {
    transform: translateY(-50vh);
}

.animateHeader-enter-active {
    transform: translateY(0%);
    transition: transform 400ms;
}